{%extends 'base.html'%}
{{block.super}}

{%block content%}

<!--Carousel Wrapper-->
<div id="nextDoor" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <!--Mask-->
            <div class="view">
                <div class="full-bg-img flex-center mask rgba-indigo-light white-text">
                    <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
                        <li>
                            <h1 class="font-weight-bold text-uppercase">NeighbourHood</h1>
                        </li>
                        <li>
                            <p class="font-weight-bold text-uppercase py-4">Discover Your NeighbourHood</p>
                        </li>
                        {%if user.is_authenticated%}
                        {%if profile%}
                        <li class="list-inline-item">
                            <a href="/feeds/neighbour/" class="btn btn-cyan btn-lg btn-rounded ml-0">See latest news</a>
                        </li>
                        {%else%}

                        <li class="list-inline-item">
                            <a href="{%url 'profile'%}{{user.username}}"
                                class="btn btn-unique btn-lg btn-rounded mr-0">Please Update your profile</a>
                        </li>
                        {%endif%}
                        {%else%}
                        <li class="list-inline-item">
                            <a href="/accounts/register/" class="btn btn-unique btn-lg btn-rounded mr-0">Sign up!</a>
                        </li>

                        {%endif%}
                    </ul>
                </div>
            </div>
            <!--/.Mask-->
        </div>
        <!--/.First slide-->

        <!--Second slide -->
        <div class="carousel-item">
            <!--Mask-->
            <div class="view">
                <div class="full-bg-img flex-center mask rgba-purple-light white-text">
                    <ul class="animated fadeInUp col-md-12 list-unstyled">
                        <li>
                            <h1 class="font-weight-bold text-uppercase">Dont be Left out Join the community</h1>
                        </li>
                        <li>
                            <p class="font-weight-bold text-uppercase py-4">Do you need to hire someone real quick</p>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
            <!--/.Mask-->
        </div>
        <!--/.Second slide -->

        <!--Third slide-->
        <div class="carousel-item">
            <!--Mask-->
            <div class="view">
                <div class="full-bg-img flex-center mask rgba-blue-light white-text">
                    <ul class="animated fadeInUp col-md-12 list-unstyled">
                        <li>
                            <h1 class="font-weight-bold text-uppercase">Dont be left out Get to know your Neighbours
                            </h1>
                        </li>
                        <li>
                            <p class="font-weight-bold text-uppercase py-4">Get in touch with the local Police any time
                            </p>
                        </li>
                        <li>
                            <a target="" href="/accounts/register/" class="btn btn-lg btn-indigo btn-rounded">Get
                                Started</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.Mask-->
        </div>
        <!--/.Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#nextDoor" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#nextDoor" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

{%endblock%}